body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-wrapper {
  width: 100%;
}

.content-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
