body {
  min-width: 900px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  background-color: #849d8f;
}

/* Для внутренней страницы */
.inner-page {
  background-color: #849d8f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.2)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 656px;
}

a {
  text-decoration: none;
}

img {
  /*width: 100%;
  height: auto;*/
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопка */
.btn {
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #fefefe;
  background-color: #f26843;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image: linear-gradient(to top, #e74a35 0%, #f26843 100%);
  border: none;
  border-radius: 25px / 30px;
  -webkit-box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  cursor: pointer;
}

.btn:focus,
.btn:hover {
  background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2))),
                  -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image:-webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2)),
                  -webkit-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image:-o-linear-gradient(bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2)),
                  -o-linear-gradient(bottom, #e74a35 0%, #f26843 100%);
  background-image:linear-gradient(to top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2)),
                  linear-gradient(to top, #e74a35 0%, #f26843 100%);
}

.btn:active {
  background-image:-webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.07)), to(rgba(0, 0, 0, 0.07))),
                  -webkit-gradient(linear, left bottom, left top, from(#f26843), to(#e74a35));
  background-image:-webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07)),
                  -webkit-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background-image:-o-linear-gradient(bottom, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07)),
                  -o-linear-gradient(bottom, #f26843 0%, #e74a35 100%);
  background-image:linear-gradient(to top, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07)),
                  linear-gradient(to top, #f26843 0%, #e74a35 100%);
  -webkit-box-shadow: inset 0 2px 2px 0 #942718;
          box-shadow: inset 0 2px 2px 0 #942718;
}

/* Блок текстовых полей форм */
.input-text {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 45px;
  margin: 0;
  padding: 13px 13px;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #323232;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;
}

.input-text:hover {
  padding: 12px 12px;
  border: 2px solid #c7c6c5;
}

.input-text:focus {
  padding: 12px 12px;
  border: 2px solid #8fbdec;
  outline: none;
}

.input-text::-webkit-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.input-text::-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.input-text:-moz-placeholder {
  font-weight: 400;
  color: #999999;
}

.input-text:-ms-input-placeholder {
  font-weight: 400;
  color: #999999;
}

.input-text::-webkit-search-decoration,
.input-text::-webkit-search-cancel-button,
.input-text::-webkit-search-results-button,
.input-text::-webkit-search-results-decoration {
  display: none;
}

.input-text::-ms-clear {
  display: none;
  width: 0;
  height: 0;
 }

.input-text::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Ссылки с подчеркиванием */
.dark-underline-link {
  color: #323232;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.11em;
  background-size: 1px 1px;
}

.login-form__link:hover .dark-underline-link,
.login-form__link:focus .dark-underline-link,
.login-form__link:active .dark-underline-link {
  color: #e84d37;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(236, 89, 60, 0.3)), to(rgba(236, 89, 60, 0.3)));
  background-image: -webkit-linear-gradient(left, rgba(236, 89, 60, 0.3) 0%, rgba(236, 89, 60, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(236, 89, 60, 0.3) 0%, rgba(236, 89, 60, 0.3) 100%);
  background-image: linear-gradient(90deg, rgba(236, 89, 60, 0.3) 0%, rgba(236, 89, 60, 0.3) 100%);
}

.light-underline-link {
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.15em;
  background-size: 1px 1px;
}

.light-underline-link:hover,
.light-underline-link:focus,
.light-underline-link:active {
  color: #ffbc9e;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(249, 172, 159, 0.3)), to(rgba(249, 172, 159, 0.3)));
  background-image: -webkit-linear-gradient(left, rgba(249, 172, 159, 0.3) 0%, rgba(249, 172, 159, 0.3) 100%);
  background-image: -o-linear-gradient(left, rgba(249, 172, 159, 0.3) 0%, rgba(249, 172, 159, 0.3) 100%);
  background-image: linear-gradient(90deg, rgba(249, 172, 159, 0.3) 0%, rgba(249, 172, 159, 0.3) 100%);
}

/* Обертки */
.page-wrapper {
  width: 100%;
}

.content-wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 0 2.3%;
}

/* Хедер */
.page-header {
  padding-top: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #ffffff;
}

.page-header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.page-header__main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.page-header__logo {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: 9px;
}

.logo {
  width: 154px;
  height: 64px;
}

.page-header .page-header__main-menu {
  margin-top: 13px;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-menu__link {
  display: block;
  padding: 7px 0;
  margin-right: 13px;
  margin-left: 14px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(rgba(255, 255, 255, 0.2)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
  background-repeat: repeat-x;
  background-position: 0 1.5em;
  background-size: 1px 1px;
}

.main-menu__link:hover,
.main-menu__link:focus,
.main-menu__link:active {
  margin-right: 0;
  margin-left: 0;
  padding-right: 13px;
  padding-left: 14px;
  color: #333333;
  background-image: none;
  border-radius: 16px;
}

.main-menu__link:hover,
.main-menu__link:focus {
  background-color: #f7f6f3;
}

.main-menu__link:active {
  background-color: #ededed;
  -webkit-box-shadow: inset 0 2px 1px 0 #696969;
  box-shadow: inset 0 2px 1px 0 #696969;
  outline: none;
}

.main-menu__link--current {
  margin-right: 0;
  margin-left: 0;
  padding-right: 13px;
  padding-left: 14px;
  background-color: #d07058;
  background-image: none;
  border-radius: 16px;
}

/* Выпадающее меню */
.page-header__popup {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  display: none;
  background-color: #f8f7f4;
  border-radius: 5px;
  -webkit-box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.main-menu__submenu {
  top: 37px;
  left: -6px;
  min-width: 144px;
  margin: 0;
  padding: 5px 0;
  text-align: left;
  list-style: none;
}

.main-menu__sublink {
  display: block;
  padding: 6px 20px;
  padding-bottom: 9px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.main-menu__sublink--separate {
  position: relative;
  margin-bottom: 4px;
  padding-bottom: 13px;
  font-weight: 700;
}

.main-menu__sublink--separate::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 6px;
  z-index: 100;
  width: calc(100% - 12px);
  height: 1px;
  background-color: #d1d0ce;
}

.main-menu__sublink--current {
  background-color: #d07058;
}

.main-menu__sublink:hover:not(.main-menu__sublink--current) {
  background-color: #fbded7;
}

.main-menu__sublink:active:not(.main-menu__sublink--current) {
  background-color: #f6b5a5;
}

.main-menu__item {
  position: relative;
  padding-bottom: 10px;
}

.main-menu__item:hover .main-menu__submenu {
  display: block;
}

/* Пользовательская навигация */
.page-header__user-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 35%;
  margin-top: 13px;
}

.page-header__user-item {
  position: relative;
  padding-bottom: 4px;
}

.page-header__user-btn {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20px;
  margin: 0;
  margin-left: 10px;
  padding: 6px 16px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;
  background-color: #9db1a5;
  border-radius: 16px;
}

.page-header__user-btn--inner {
  background-color: #b0c0b7;
}

.page-header__user-btn--search {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 33px;
  height: 33px;
  padding: 0;
  border-radius: 50%;
}

.page-header__user-btn--login {
  min-width: 60px;
}

.page-header__user-btn--basket {
  min-width: 67px;
  padding-right: 34px;
  padding-left: 15px;
}

.page-header__user-btn:hover,
.page-header__user-btn:focus {
  color: #000000;
  background-color: #f8f7f4;
}

.page-header__user-btn:hover .page-header__user-icon,
.page-header__user-btn:focus .page-header__user-icon {
  fill: #000000;
}

.page-header__user-btn--full-basket {
  color: #323232;
  background-color: #f7f6f3;
}

.page-header__user-icon--invert {
  fill: #343434;
}

.page-header__icon-fill {
  fill: #E84d37;
}

.page-header__amount-basket {
  padding: 0 3px;
  padding-left: 8px;
}

.page-header__user-btn--full-basket:hover,
.page-header__user-btn--full-basket:focus {
  color: #323232;
}

.page-header__user-btn--full-basket:hover .page-header__user-icon,
.page-header__user-btn--full-basket:focus .page-header__user-icon {
  fill: #343434;
}

/* Попап поиска */
.page-header__user-item:hover .page-header__popup--search {
  display: block;
}

.search-form {
  width: 310px;
  padding: 20px 15px;
}

.search-form input[type="search"] {
  width: 100%;
}

/* Попап входа */
.page-header__user-item:hover .page-header__popup--login {
  display: block;
}

.login-form {
  width: 241px;
  padding: 20px 16px 19px 19px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 100%;
  margin-bottom: 19px;
}

.login-form__column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.login-form__btn {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.login-form__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 126px;
  margin-right: 2px;
  padding-bottom: 4px;
}

.login-form__link {
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
}

.login-form__btn {
  padding-left: 25px;
  padding-right: 25px;
}

/* Коризина */
.page-header__popup--basket {
  padding: 20px 15px;
}

.page-header__user-item:hover .page-header__popup--basket {
  display: block;
}

.basket {
  width: 510px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
  vertical-align: top;
  border-collapse: collapse;
}

.basket__del-cell,
.basket__img-cell,
.basket__title-cell,
.basket__price-cell,
.basket__cost-cell {
  padding: 0;
  padding-top: 9px;
  padding-bottom: 16px;
  vertical-align: top;
}

.basket__del-cell {
  padding-top: 7px;
  padding-right: 7px;
}

.basket__btn-del {
  position: relative;
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.basket__btn-del::before {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #2c2829;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.basket__btn-del::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  right: 0;
  width: 15px;
  height: 1px;
  background-color: #2c2829;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.basket__img-cell {
  width: 33px;
  padding-top: 0;
}

.basket__img-cell img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.basket__title-cell {
  width: 220px;
  padding-left: 12px;
  padding-right: 10px;
}

.basket__price-cell {
  padding-left: 20px;
}

.basket__weight {
  padding-right: 4px;
}

.basket__price {
  padding-left: 4px;
  color: #999999;
}

.basket__cost-cell {
  padding-right: 5px;
}

.basket__total-cost-cell {
  padding: 14px 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  color: #323232;
  text-align: right;
  border-top: 1px solid #cacac7;
}

.basket__btn-cell {
  padding: 0;
  padding-bottom: 1px;
  text-align: right;
}

.basket__btn-buy {
  padding-left: 15px;
  padding-right: 15px;
}

/* Контакты */
.page-header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.page-header__contacts {
  max-width: 267px;
  margin-left: auto;
  text-align: right;
}

.page-header__working-hours {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.page-header__tel {
  margin: 0;
  padding: 0;
  padding-bottom: 4px;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.page-header__tel a {
  color: #ffffff;
}

/* Хлебные крошки */
.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.page-header__breadcrumbs {
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 0;
  margin-bottom: 7px;
}

.breadcrumbs__item {
  -webkit-box-align: center
  ;-ms-flex-align: center;
  align-items: center;
}

.breadcrumbs__item::after {
  content: "»";
  margin-left: 5px;
  margin-right: 6px;
}

.breadcrumbs__item:last-child::after {
  display: none;
}

.breadcrumbs__link {
  color: #ffffff;
}

/* Заголовок внутренней страницы */
.page-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}
